/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        enabled: false
    ]
    withName: 'FAST5_TO_POD5' {
        publishDir = [
            path: { "${params.outdir}/pod5/" },
            mode: params.publish_dir_mode,
            pattern: "*.pod5" 
        ]
    }

    withName: 'DORADO_BASECALLING' {
        publishDir = [
            [
            path: { "${params.outdir}/ubam/" },
            mode: params.publish_dir_mode,
            pattern: "*{.ubam}"
            ],
            [
            path: { "${params.outdir}/to_DB/" },
            mode: params.publish_dir_mode,
            pattern: "*{used_model.txt}"
            ]
        ]
    }

    withName: 'SEQUALI' {
        publishDir = [
            path: { "${params.outdir}/qc/" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,json}" 
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/qc/" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
